
@{
    ViewBag.Title = "About";
}

<!-- about-page -->
<div class="about">
    <div class="container">
        <div class="w3-heading-all">
            <h3>About Us</h3>
        </div>
        <div class="agileits_w3layouts_team_grids w3ls_about_grids new-agileinfo">
            <div class="col-md-6 w3ls_banner_bottom_left w3ls_about_left">
                <div class="w3ls_about_left_grids">
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>JK car Services</h3>
                        <p>JK House Rental</p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>JK Third Insurence</h3>
                        <p>New Branch</p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>JK Car Services, Ahemdabad City</h3>
                        <p>
                            Head Office Address<br />India
                            JK House Rental, Ahemdabad City <br />India.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 agileits_about_right">
                <img src="~/Conyent/images/tjj2.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
