
@{
    ViewBag.Title = "Services";
}

<div class="about">
    <div class="container">
        <div class="w3-heading-all">
            <h3>Our Services</h3>
        </div>
        <div class="agileits_w3layouts_team_grids w3ls_about_grids new-agileinfo">
            <div class="col-md-6 w3ls_banner_bottom_left w3ls_about_left">
                <div class="w3ls_about_left_grids">
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>JK Counsultancy</h3>
                        <p>Online See House Information</p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Mahindra Loan</h3>
                        <p>Online Applicationss</p>
                    </div>
                    <div class="w3ls_about_left_grid">
                        <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>JK & Coumpany PVT. LTD.</h3>
                        <p>
                            Cahe and Query 10% Descount
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 agileits_about_right">
                <img src="~/Contect/images/ab11.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
